@media (max-width: 1000px) {
    div>div:nth-child(2) {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .blurb {
        width: 100% !important;
    }
    .main {
        height: 140vh !important;
        width: 100vw !important;
    }
    .youtube {
        width: 100% !important;
    }
    .slide {
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
        margin-left: -27vw;
    }
}